$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg :'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 575px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$theme-color: #ff2121;

.footer-area{
    .pt-20 {
        padding-top: 20px;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    .pb-20 {
        padding-bottom: 20px;
    }
    .mb-20 {
        margin-bottom: 20px;
    }

    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .footer-pera{
        & p{
            color:#868c98;
            padding-right: 52px;
            @media #{$md}{
                padding-right: 0px;
            }
            @media #{$sm}{
                // padding-right: 0px;
            }
            font-size: 16px;
            margin-bottom: 50px;
            line-height: 1.8;
        }
        &.footer-pera2 p{
            padding: 0;
        }
    }
    .footer-tittle{
        & h4{
            color: #012f5f;
            font-size: 20px;
            margin-bottom: 29px;
            font-weight: 700;
        }
        & ul{
            li{
                margin-bottom: 9px;
                 a{
                    color: #506172;
                    font-weight: 300;
                    &:hover{
                        color: $theme-color;
                        padding-left: 5px;
                    }

                }
            }
        }
    }
    .footer-form{
        margin-top: 40px;
        & form{
            position: relative;
            & input{
                width: 100%;
                height: 43px;
                padding: 10px 20px;
                border: 1px solid #fff;
            }
            & .form-icon{
                & button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: none;
                    border: 0;
                    cursor: pointer;
                    padding: 13px 22px;
                    background:$theme-color;
                    line-height: 1;
                }
            }
        }
    }
    .info.error {
        color:  $theme-color;
    }
}

//copy Right
.footer-bottom-area {
    .footer-border{
        border-top: 1px solid #d7e7fe;
        padding: 33px 0px 20px;
    }
    .footer-copy-right{
        & p{
            color: #222222;
            font-weight: 300;
            font-size: 18px;
            line-height: 2;
            margin-bottom: 12px;
            & i{
                color:$theme-color;
            }
            & a{
                color: $theme-color;
                &:hover{
                    // color: #fff;
                }

            }
        }
    }
}
.footer-social{
     a{
        color: #222222;
        font-size: 20px;
       & i{
        margin-right: 12px;
        &:hover{
            color: $theme-color;
        }

       }
    }
}
