:root {
    --color-gray-200: #f3f3f3;
    --color-orange-200: #FF9900;
    --color-blue: #142140;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.modal .modal-header .btn-close {
    transform: translate(0, 0);
}

[dir=ltr] .modal .modal-header .btn-close:hover, [dir=ltr] .modal .modal-header .btn-close:focus, [dir=ltr] .modal .modal-header .btn-close:active {
    transform: translate(0, 0);
}

.instrument {
    padding: 40px 0;
}

.ins-name {
    margin: 30px 0;
}

.ins-name h3 {
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 3px;
}

.ins-name p {

    font-size: 14.5px;
    line-height: 28px;
    color: #263d48;
    font-weight: 300;
    margin: 20px 0 20px;
}

p.left {
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    margin-right: 5%;
    width: 35%;
    font-weight: 600;
}


.span1 {
    margin: 3px 0;
    padding: 5px 0;
}

.ins-image img {
    width: 90%;
    border: 1px solid #eee;
    padding: 6px;
    margin-left: 7%;
}
.ml-auto{
    margin-left: auto !important;
}
.mr-auto{
    margin-right: auto !important;
}

/*---=======================
   14. Start Footer  css
===========================---*/
.footer-area .social-link li, .about-me-section .about-me-area .about-me-info .social-link li {
    margin-right: 5px;
}

.footer-area .social-link li a, .about-me-section .about-me-area .about-me-info .social-link li a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .footer-area .social-link li a, .about-me-section .about-me-area .about-me-info .social-link li a {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .social-link li a, .about-me-section .about-me-area .about-me-info .social-link li a {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 991px) {
    .footer-area .social-link li a, .about-me-section .about-me-area .about-me-info .social-link li a {
        width: 40px;
        height: 40px;
    }
}

.footer-area .social-link li a:after, .about-me-section .about-me-area .about-me-info .social-link li a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#fd6151), to(#ff774a));
    background: linear-gradient(90deg, #fd6151 0%, #ff774a 100%);
    visibility: hidden;
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-area .social-link li a:hover, .about-me-section .about-me-area .about-me-info .social-link li a:hover {
    color: #fff;
}

.footer-area .social-link li a:hover:after, .about-me-section .about-me-area .about-me-info .social-link li a:hover:after {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .col-lg-3 {
        width: 33.33%;
    }
}

.footer-area .footer-widget h4.widget-title {
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-area .footer-widget .widget.about-widget .about-content p {
    margin-bottom: 30px;
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 10px;
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list li a {
    display: block;
    position: relative;
    overflow: hidden;
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list li a:hover .insta-overlay {
    visibility: visible;
    opacity: 1;
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list li a:hover .insta-overlay svg {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list li a img {
    width: 100%;
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list li a .insta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-area .footer-widget .widget.instagram-feed-widget .instagram-list li a .insta-overlay svg {
    font-size: 18px;
    color: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content:last-child {
    margin-bottom: 0px;
}

.footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content img {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 20px;
}

.footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date .posted-on {
    display: block;
    font-size: 12px;
}

.footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date .posted-on svg {
    margin-right: 10px;
}

.footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6 {
        font-size: 12px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6 {
        font-size: 15px;
    }
}

.footer-area .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6:hover {
    color: var(--color-orange-200);
}

.footer-area .footer-widget .widget.newsletter-widget .newsletter-form form {
    margin: 21px 0 10px;
}

.footer-area .footer-widget .widget.newsletter-widget .newsletter-form form .form_group .form_control {
    height: 60px;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
    padding: 0 25px;
    border: none;
    background-color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .footer-widget .widget.newsletter-widget .newsletter-form form .form_group .form_control {
        padding: 0 5px;
    }
}

.footer-area .footer-widget .widget.newsletter-widget .newsletter-form form .form_group .newsletter-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, from(#fd6151), to(#ff774a));
    background: linear-gradient(90deg, #fd6151 0%, #ff774a 100%);
}

.footer-area .copyright-area {
    padding: 20px 0 25px;
    background: -webkit-gradient(linear, left top, right top, from(#fd6151), to(#ff774a));
    background: linear-gradient(90deg, #fd6151 0%, #ff774a 100%);
}

@media (max-width: 991px) {
    .footer-area .copyright-area .copyright-text {
        text-align: center;
    }
}

.footer-area .copyright-area .copyright-text p {
    color: #fff;
}

@media (max-width: 991px) {
    .footer-area .copyright-area .footer-logo {
        margin: 20px 0;
    }
}

.footer-area .copyright-area .copyright-nav {
    float: right;
}

@media (max-width: 991px) {
    .footer-area .copyright-area .copyright-nav {
        float: none;
        text-align: center;
    }
}

.footer-area .copyright-area .copyright-nav ul li {
    display: inline-block;
    margin-left: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .copyright-area .copyright-nav ul li {
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    .footer-area .copyright-area .copyright-nav ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.footer-area .copyright-area .copyright-nav ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer-area .copyright-area .copyright-nav ul li a:hover {
    color: #070346;
}

.footer-area.footer-area-v1 .footer-widget .widget h4.widget-title {
    color: #fff;
}

.footer-area.footer-area-v1 .footer-widget .widget p {
    color: rgba(255, 255, 255, 0.6);
}

.footer-area.footer-area-v1 .footer-widget .widget.about-widget .about-content .social-link li a {
    background: #020027;
    color: #fff;
}

.footer-area.footer-area-v1 .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6 {
    color: #fff;
}

.footer-area.footer-area-v1 .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date span.posted-on {
    color: #918eca;
}

.footer-area.footer-area-v1 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .form_control {
    background-color: #0c0751;
}

.footer-area.footer-area-v1 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .form_control::-webkit-input-placeholder {
    color: #aaaaaa;
}

.footer-area.footer-area-v1 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .form_control::-moz-placeholder {
    color: #aaaaaa;
}

.footer-area.footer-area-v1 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .form_control:-ms-input-placeholder {
    color: #aaaaaa;
}

.footer-area.footer-area-v1 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .form_control::-ms-input-placeholder {
    color: #aaaaaa;
}

.footer-area.footer-area-v1 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .form_control::placeholder {
    color: #aaaaaa;
}

.footer-area.footer-area-v2 .footer-widget {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.footer-area.footer-area-v2 .footer-widget:after {
    position: absolute;
    top: -200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    /*background: url(../images/footer/trustcare.png) no-repeat;*/
    /*background-position: center;*/
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media (max-width: 991px) {
    .footer-area.footer-area-v2 .footer-widget:after {
        display: none;
    }
}

.footer-area.footer-area-v2 .footer-widget .widget.about-widget .about-content .social-link li a {
    background: #fff;
    color: #070346;
}

.footer-area.footer-area-v2 .footer-widget .widget.about-widget .about-content .social-link li a:hover {
    color: #fff;
}

.footer-area.footer-area-v3 .footer-widget h4.widget-title {
    color: #fff;
}

@media (max-width: 991px) {
    .footer-area.footer-area-v3 .footer-widget .footer-logo {
        text-align: center;
        margin-bottom: 20px;
    }
}

.footer-area.footer-area-v3 .footer-widget .footer-top {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/*.footer-area.footer-area-v3 .footer-widget .footer-top .footer-nav {*/
/*    float: right;*/
/*}*/

@media (max-width: 991px) {
    .footer-area.footer-area-v3 .footer-widget .footer-top .footer-nav {
        float: none;
        text-align: center;
    }
}

.footer-area.footer-area-v3 .footer-widget .footer-top .footer-nav ul li {
    display: inline-block;
    margin-left: 65px;
}

@media (max-width: 991px) {
    .footer-area.footer-area-v3 .footer-widget .footer-top .footer-nav ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.footer-area.footer-area-v3 .footer-widget .footer-top .footer-nav ul li a {
    font-weight: 700;
}

.footer-area.footer-area-v3 .footer-widget .widget p {
    color: #cacaca;
}

.footer-area.footer-area-v3 .footer-widget .widget.about-widget .about-content .social-link li a {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.footer-area.footer-area-v3 .footer-widget .widget.about-widget .about-content .social-link li a:hover {
    color: #fff;
}

.footer-area.footer-area-v3 .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6 {
    color: #fff;
}

.footer-area.footer-area-v3 .footer-widget .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date span.posted-on {
    color: #cacaca;
}

.footer-area.footer-area-v3 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .form_control {
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid #3a3a3a;
}

.footer-area.footer-area-v3 .footer-widget .widget.newsletter-widget .newsletter-form .form_group .newsletter-btn {
    border-radius: 50%;
}

.footer-area.footer-area-v3 .footer-widget .widget.contact-widget .contact-info-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #393939;
    margin-bottom: 25px;
}

.footer-area.footer-area-v3 .footer-widget .widget.contact-widget .contact-info-item:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

.footer-area.footer-area-v3 .footer-widget .widget.contact-widget .contact-info-item .icon {
    margin-right: 20px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-area.footer-area-v3 .footer-widget .widget.contact-widget .contact-info-item .icon svg {
    font-size: 14px;
    color: #fff;
}

.footer-area.footer-area-v3 .footer-widget .widget.contact-widget .contact-info-item .info span {
    font-size: 14px;
    color: #cacaca;
    margin-bottom: 5px;
    display: block;
}

.footer-area.footer-area-v3 .footer-widget .widget.contact-widget .contact-info-item .info h5 {
    line-height: 15px;
    color: #fff;
}

.footer-area.footer-area-v3 .copyright-area {
    background: #181818;
}

.footer-area.footer-area-v3 .copyright-area .copyright-text span {
    color: var(--color-orange-200);
}

/*# sourceMappingURL=style.css.map */


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

body {
    margin: 0;
    overflow-x: hidden !important;

}

.sec-1 {
    height: 100vh;
    line-height: normal;
}


.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}

.logo-nav {
    width: 138px;
    height: 128px;
    margin-left: 100%;
    margin-top: 25%;
}

.nav {
    display: flex;
    animation: 2s ease-out 0s 1 fadeIn;
}

.sec-5FList ul {
    padding-left: 0rem;
}

.navUL {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    list-style: none;
    color: #f6f6f6;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 7.5%;
}

.sec-1C {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}


.hero-h1 {
    animation: .5s ease-out 0s 1 slideInFromLeft;
    font-size: 32px;
    color: #FF9900;
    font-weight: bolder;
    margin: 1rem 0;
}

.hero-h2 {
    animation: 1.5s ease-out 0s 1 fadeIn;
    font-size: 100px;
    color: #f6f6f6;
    font-weight: bold;
    width: 50%;
}

.hero-h3 {
    animation: .5s ease-out 0s 1 slideInFromRight;
    font-size: 40px;
    color: #FF9900;
    font-weight: 700;
    margin: 1rem 0;
}

.video-overview {
    animation: .5s ease-out 0s 1 slideTop;
    padding: 1.5em 4em;;
    border-radius: 50px;
    background: rgba(220, 220, 220, 0.3);
    color: #f6f6f6;
    border: none;
    margin-top: 4em;
    font-size: 16px;
}

.fa-play {
    position: relative;
    left: -20px;
}

.sec-2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #181818;
    padding-top: 7.5%;
    line-height: normal;
}

.sec-2H1 {
    font-size: 22px;
    color: #FF9900;
    font-weight: bold;
    margin-left: 10%;
}

.sec-2H2 {
    font-size: 80px;
    color: #f6f6f6;
    font-weight: bold;
    margin-bottom: 2.5%;
    margin-left: 10%;
    width: 1%;
}


.sec-2I {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.spotcustomer {
    background: #f6f6f6;
    padding: 1em;
    width: 60px !important;
    border-radius: 20px;
}


.sec-2E {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    gap: 4em;
}

.sec-2C {
    position: relative;
    display: flex;
    gap: 1em;
    flex-direction: column;
    text-align: left;
    min-width: 180px;
}

.sec-2CH {
    color: #FF9900;
    font-size: 24px;
    font-weight: bold;
}

.sec-2CP {
    color: #f6f6f6;
    font-size: 20px;
    width: 100%;
}

.sec-2CT {
    color: #f6f6f6;
    width: 80%;
    font-size: 15px;
    text-align: justify;
    position: relative;
}

.logotilted {
    width: 800px;
    position: absolute;
    margin-top: -20%;
    right: -10%;
    overflow: hidden;
    display: block;

}

.sec-3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 140vh;
    z-index: -1;
    background: var(--color-gray-200);
    line-height: normal;
}

.sec-3H {
    font-size: 80px;
    color: var(--color-blue);
    font-weight: bold;
    margin-bottom: 2.5%;
    margin-left: 10%;
    width: 1%;

}

.sec-3P {
    font-size: 26px;
    margin-top: 1.5%;
    line-height: normal;
}

.sec-3H2 {
    font-size: 80px;
    color: var(--color-blue);
    font-weight: bold;
    margin-bottom: 2.5%;
    margin-left: 10%;
    width: 1%;
}

.sec-3P2 {
    font-size: 28px;
    line-height: normal;
}

.sec-3L {
    font-size: 28px;
    line-height: normal;
}

.bH {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    top: 10%;
}

.b2bS {
    position: relative;
    left: 60%;
    width: 35%;
    margin-top: -2em;
    font-size: 30px;
    line-height: normal;
}

.sec-4 {
    background-color: var(--color-gray-200);
    margin-top: 20%;
    height: 120vh;
}

.bC {
    font-size: 70px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    left: 10%
}

.sec-4P {
    position: relative;
    padding: 6rem;
    font-size: 28px;
    line-height: normal;
    text-align: left;
    width: 95%;
}

.sec-5 {
    background-color: #181818;
    height: 180vh;
}

.sec-5H {
    margin-left: 10%;
    font-size: 100px;
    color: #f6f6f6;
    line-height: normal;
    font-weight: bold;
    width: 50%;
    padding-top: 7.5%;
}

.sec-5F {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
}

.sec-5Logo {
    width: 440px;
    height: 88px;
}

.sec-5FList {
    color: #f6f6f6;
    font-size: 30px;
    margin-top: 20px;
    /*margin-left: 40px;*/
}

.sec-5FList li {
    width: 80%;
    padding-bottom: 1em;
}

.sec-6 {
    background-color: #f6f6f6;
    height: 120vh;
}

.bgleft {
    height: 800px;
    margin-top: -25%;
}

@media screen and (min-width: 320px) {
    .logo-nav {
        width: 35px;
        height: 35px;
        margin-left: 30%;
        margin-top: 50%;
    }

    .sec-1 {
        height: 105vh;
    }

    .sec-1C {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .hero-bg {
        object-fit: none;
        height: 105vh;
    }

    .nav {
        display: flex;
        animation: 2s ease-out 0s 1 fadeIn;
    }

    .navUL {
        gap: 12.5px;
        font-size: 8px;
        top: 4%;
    }

    .hero-h1 {
        font-size: 14px;
        margin: 1rem 0;
        margin-top: 10rem;
    }

    .hero-h2 {
        font-size: 32px;
        width: 100%;
        margin-top: -2%;
    }

    .hero-h3 {
        font-size: 12px;
        margin: .5rem 0;
    }

    .video-overview {
        margin-top: 5em;
        font-size: 10px;
    }

    .sec-2 {
        text-align: center;
        height: auto;
        padding: 4rem 0;
    }

    .sec-2H1 {
        font-size: 15px;
        color: #FF9900;
        font-weight: bold;
        margin: 0 auto;
    }

    .sec-2H2 {
        font-size: 30px;
        color: #f6f6f6;
        width: 100%;
        margin: 0 auto;
        margin-top: .25rem;
        margin-bottom: 5rem;
    }

    .sec-2I {
        display: none;
    }

    .spotcustomer {
        width: 60px !important;
        border-radius: 20px;
        margin: 0 auto;
    }

    .sec-2E {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .sec-2C {
        text-align: center;
    }

    .sec-2CH {
        font-size: 20px;
        font-weight: bold;
    }

    .sec-2CP {
        font-size: 14px;
        margin-top: -.5rem;
    }

    .logotilted {
        display: none;
    }

    .sec-3H {
        padding: 0;
        margin: 0;
        font-size: 32px;
    }

    .sec-3 {
        text-align: left;
        line-height: 1.5em;
        margin: 15% auto;
        height: auto;
    }

    .sec-3P {
        font-size: 12px;
        margin-top: 1.5%;
    }

    .sec-3H2 {
        font-size: 18px;
        margin-top: 7.5%;
    }

    .sec-3P2 {
        font-size: 12px;
        margin-top: 1.5%;
        text-align: left;
    }

    .sec-3L {
        font-size: 12px;
        text-align: left;
        list-style: square;
        margin-left: 10%;
        width: 80%;
    }

    .bH {
        display: none;
    }

    .b2bS {
        display: none;
    }

    .frame-div6 {
        display: none;
    }

    .sec-4 {
        display: none;

    }

    .sec-5 {
        text-align: center;
        margin: 0 auto;
        height: auto;
        padding: 15% 5%;
    }

    .sec-5H {
        font-size: 26px;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 10%;
    }

    .sec-5F {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;

    }

    .sec-5Logo {
        width: 200px !important;
        height: auto;
        position: relative;

    }

    .sec-5FList {
        color: var(--color-blue);
        font-size: 12px;
        line-height: 1rem;
        text-align: left;
        margin-top: .5rem;
    }

    .sec-5FList li {
        width: 80%;
        padding-bottom: 1em;
    }

    .bgleft {
        display: none;
    }

    .sec-6 {
        padding-top: 30%;
    }
}

@media screen and (min-width: 470px) {
    body {
        zoom: 1.1;
    }


    .logo-nav {
        width: 55px;
        height: 55px;
        margin-left: 50%;
        margin-top: 50%;
    }

    .navUL {
        gap: 12.5px;
        font-size: 8px;
        top: 7%;
    }

    .sec-1C {
        top: 1%;
    }
}

@media screen and (min-width: 768px) {

    .logo-nav {
        width: 65px;
        height: 65px;
        margin-left: 50%;
        margin-top: 50%;
    }

    .sec-1 {
        height: 90vh;
    }

    .sec-1C {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .hero-bg {
        object-fit: none;
        height: 90vh;
    }

    .navUL {
        gap: 30px;
        font-size: 12px;
        top: 6%;
    }

    .hero-h1 {
        font-size: 24px;
        margin: 1rem 0;
        margin-top: 20rem;
    }

    .hero-h2 {
        font-size: 50px;
        width: 80%;
        margin-top: -2%;
    }

    .hero-h3 {
        font-size: 20px;
        margin: .5rem 0;
    }

    .video-overview {
        margin-top: 5em;
        font-size: 12px;
    }


    .sec-2H1 {
        font-size: 16px;
        margin-left: 10%;
        text-align: left;
    }

    .sec-2H2 {
        font-size: 30px;
        color: #f6f6f6;
        font-weight: bold;
        margin-bottom: 2.5%;
        margin-left: 10%;
        text-align: left;
    }

    .sec-2I {
        width: 80%;
        display: flex;
        margin: 0 auto;
    }

    .spotcustomer {
        background: #f6f6f6;
        padding: .5em;
        width: 40px !important;
        border-radius: 10px;
        margin-left: 0;
    }


    .sec-2E {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 4em;
    }

    .sec-2C {
        position: relative;
        display: flex;
        gap: 1em;
        flex-direction: column;
        text-align: left;
    }

    .sec-2CH {
        color: #f6f6f6;
        font-size: 18px;
        font-weight: bold;
    }

    .sec-2CP {
        color: #f6f6f6;
        font-size: 12px;
        width: 100%;
    }

    .logotilted {
        width: 250px;
        position: absolute;
        margin-top: -20%;
        right: -10%;
        overflow: hidden;
        display: block;
        overflow-x: hidden !important;

    }
}


@media screen and (min-width: 1100px) {

    .logo-nav {
        width: 100px;
        height: 80px;
        margin-left: 50%;
        margin-top: 25%;
    }


    .navUL {
        gap: 30px;
        font-size: 15px;
        margin: auto;
        top: 6.5%;
    }

    .sec-1C {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;

    }


    .hero-h1 {
        animation: .5s ease-out 0s 1 slideInFromLeft;
        font-size: 24px !important;
        color: #FF9900;
        font-weight: bolder;
        margin: 1rem 0;
    }

    .hero-h2 {
        animation: 1.5s ease-out 0s 1 fadeIn;
        font-size: 40px;
        color: #f6f6f6;
        font-weight: bold;
        width: 100%;
        margin-top: -1%;
    }

    .hero-h3 {
        animation: .5s ease-out 0s 1 slideInFromRight;
        font-size: 24px;
        color: #FF9900;
        font-weight: 700;
        margin: 1rem 0;
    }

    .video-overview {
        animation: .5s ease-out 0s 1 slideTop;
        padding: 1.5em 4em;;
        border-radius: 50px;
        background: rgba(220, 220, 220, 0.3);
        color: #f6f6f6;
        border: none;
        margin-top: 1em;
        font-size: 14px;
    }

    .fa-play {
        position: relative;
        left: -20px;
    }


    .sec-2H1 {
        font-size: 22px;
        color: #FF9900;
        font-weight: bold;
        margin-left: 10%;
    }

    .sec-2H2 {
        font-size: 40px;
        color: #f6f6f6;
        font-weight: bold;
        margin-bottom: 2.5%;
        margin-left: 10%;
        width: 100%;

    }

    .sec-2I {
        width: 80%;
        display: flex;
        margin: 0 auto;
    }

    .spotcustomer {
        background: #f6f6f6;
        padding: 1em;
        width: 60px !important;
        border-radius: 20px;
    }


    .sec-2E {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        gap: 4em;
    }

    .sec-2C {
        position: relative;
        display: flex;
        gap: 1em;
        flex-direction: column;
        text-align: left;

    }

    .sec-2CH {
        color: #f6f6f6;
        font-size: 20px;
        font-weight: bold;
    }

    .sec-2CP {
        color: #f6f6f6;
        font-size: 16px;
        width: 100%;
    }

    .logotilted {
        width: 300px;
        position: absolute;
        margin-top: -17.5%;
        right: -10%;
        overflow: hidden;
        display: block;

    }

    .sec-3 {
        margin-top: 0rem;
    }

    .sec-3H {
        font-size: 50px;
        font-weight: bold;
        line-height: normal;
    }

    .sec-3P {
        font-size: 22px;
        margin-top: 1.5%;
        line-height: normal;
    }

    .sec-3H2 {
        font-size: 30px;
        font-weight: bold;
        line-height: normal;
        margin-top: 5%;
    }

    .sec-3P2 {
        font-size: 22px;
        line-height: normal;
    }

    .sec-3L {
        font-size: 22px;
        line-height: normal;
    }

    .frame-div6 {
        display: block;
        zoom: .65;
        margin-top: 2.5%;
    }

    .sec-4 {
        background-color: var(--color-gray-200);
        height: auto;
        display: block;
        zoom: .75;
        margin-top: -32.5rem;
    }

    .bH {
        font-size: 50px;
        font-weight: bold;
        margin-top: 10%;
        display: block;
    }

    .b2bS {
        position: relative;
        top: -20rem;
        font-size: 22px;
        display: block;
        line-height: normal;
    }


    .sec-4P {
        position: relative;
        top: -10%;
        display: block;


    }

    .sec-5 {
        background-color: #181818;
        padding-top: 5%;
    }

    .sec-5H {
        margin-left: 10%;
        font-size: 70px;
        text-align: left;
        width: 50%;

    }

    .sec-5F {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        padding-top: -10%;
    }

    .sec-5Logo {
        width: 340px !important;

    }

    .sec-5FList {
        font-size: 20px;
        line-height: 1.5;
    }


    .sec-6 {
        background-color: #f6f6f6;
        padding-top: 15%;
        height: 120vh;
    }

    .bgleft {
        height: 800px;
        margin-top: -25%;
    }

    .sec-7 {
        height: auto;
    }
}

@media screen and (min-width: 1400px) {

    .logo-nav {
        width: 125px;
        height: 90px;
        margin-left: 50%;
        margin-top: 25%;
    }

    .hero-h1 {
        animation: .5s ease-out 0s 1 slideInFromLeft;
        font-size: 40px !important;
        color: #FF9900;
        font-weight: bolder;
        margin: 1rem 0;
    }

    .hero-h2 {
        animation: 1.5s ease-out 0s 1 fadeIn;
        font-size: 80px;
        color: #f6f6f6;
        font-weight: bold;
        width: 100%;
        margin-top: -1%;
    }

    .hero-h3 {
        animation: .5s ease-out 0s 1 slideInFromRight;
        font-size: 35px;
        color: #FF9900;
        font-weight: 700;
        margin: 1rem 0;
    }

    .video-overview {
        animation: .5s ease-out 0s 1 slideTop;
        padding: 1.5em 4em;;
        border-radius: 50px;
        background: rgba(220, 220, 220, 0.3);
        color: #f6f6f6;
        border: none;
        margin-top: 2em;
        font-size: 16px;
    }


    .sec-2H1 {
        font-size: 22px;
        color: #FF9900;
        font-weight: bold;
        margin-left: 10%;
    }

    .sec-2H2 {
        font-size: 40px;
        color: #f6f6f6;
        font-weight: bold;
        margin-bottom: 2.5%;
        margin-left: 10%;
        width: 100%;

    }

    .sec-2I {
        width: 80%;
        display: flex;
        margin: 0 auto;
    }

    .spotcustomer {
        background: #f6f6f6;
        padding: 1em;
        width: 60px !important;
        border-radius: 20px;
    }


    .sec-2E {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
        gap: 4em;
    }

    .sec-2C {
        position: relative;
        display: flex;
        gap: 1em;
        flex-direction: column;
        text-align: left;

    }

    .sec-2CH {
        color: #f6f6f6;
        font-size: 20px;
        font-weight: bold;
    }

    .sec-2CP {
        color: #f6f6f6;
        font-size: 16px;
        width: 100%;
    }

    .logotilted {
        width: 600px;
        position: absolute;
        margin-top: -20%;
        right: -15%;
        overflow: hidden;
        display: block;

    }


    .frame-div6 {
        display: block;
        zoom: 1;
        margin-top: 2.5%;
    }

    .sec-4 {
        background-color: var(--color-gray-200);
        height: auto;
        display: block;
        zoom: 1;
        margin-top: -20rem;
    }

    .bH {
        font-size: 50px;
        font-weight: bold;
        margin-top: 10%;
        display: block;
    }

    .b2bS {
        position: relative;
        top: -20rem;
        font-size: 22px;
        display: block;
        line-height: normal;
    }


    .sec-4P {
        position: relative;
        top: -10%;
        display: block;


    }

    .sec-5 {
        background-color: #181818;
        padding-top: 5%;
    }

    .sec-5H {
        margin-left: 10%;
        font-size: 70px;
        text-align: left;
        width: 50%;

    }

    .sec-5F {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        padding-top: -10%;
    }

    .sec-5Logo {
        width: 340px !important;

    }

    .sec-5FList {
        font-size: 20px;
        line-height: 1.5;
    }


    .sec-6 {
        background-color: #f6f6f6;
        padding-top: 15%;
        height: 120vh;
    }

    .bgleft {
        height: 800px;
        margin-top: -25%;
    }
}

.sec-7 {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}

.hero-bg2 {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 50%;
    backdrop-filter: brightness(25%);
    filter: brightness(75%);
}

.sec-7 .form_group {
    position: relative;
}

.sec-7 .form_control {
    width: 100%;
    padding: 0 30px;
    height: 60px;
    border: none;
}

.sec-7 textarea.form_control {
    padding-top: 15px;
    display: inherit;
}

.sec-7 .form_group {
    display: inherit;
}

.sec-7 .form_group .form_control {
    background-color: var(--color-gray-200);
    border-radius: 27px;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
    padding: 0 55px;
    margin-bottom: 20px;
}

.sec-7 .form_group svg {
    position: absolute;
    top: 14px;
    left: 20px;
    color: var(--color-blue);
}

.sec-7 .form_group .nice-select {
    height: 60px;
    border-radius: 28px;
    line-height: 60px;
    margin-bottom: 20px;
    padding: 0 55px;
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
}

.sec-7 .form_group textarea.form_control {
    height: 150px;
    padding-top: 15px;
}

.contact-area-v1 .contact-img {
    margin-left: 40px;
}

/*---=======================
   09. Start Team  css
===========================---*/
.team-area-v1 .team-item .team-info {
    padding-top: 20px;
}

.team-area-v1 .team-item .team-info span.position {
    color: var(--color-orange-200);
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.team-area-v1 .team-item .team-img {
    position: relative;
    overflow: hidden;
}

.team-area-v1 .team-item .team-img img {
    width: 100%;
}

.team-area-v1 .team-item .team-img .team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px;
}

.team-area-v1 .team-item .team-img .team-overlay:hover .team-social .hover-btn {
    background-color: var(--color-orange-200);
    color: #fff;
}

.team-area-v1 .team-item .team-img .team-overlay:hover .team-social .hover-btn svg {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.team-area-v1 .team-item .team-img .team-overlay:hover .team-social .team-social-link {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
}

.team-area-v1 .team-item .team-img .team-overlay .team-social .hover-btn {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-area-v1 .team-item .team-img .team-overlay .team-social .hover-btn svg {
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-area-v1 .team-item .team-img .team-overlay .team-social .team-social-link {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-area-v1 .team-item .team-img .team-overlay .team-social .team-social-link li {
    display: block;
    margin-bottom: 10px;
}

.team-area-v1 .team-item .team-img .team-overlay .team-social .team-social-link li:last-child {
    margin-bottom: 0px;
}

.team-area-v1 .team-item .team-img .team-overlay .team-social .team-social-link li a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-area-v1 .team-item .team-img .team-overlay .team-social .team-social-link li a:hover {
    background-color: var(--color-orange-200);
    color: #fff;
}

.team-area-v1 .button .main-btn:after {
    display: none;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-area-v2 .team-item:hover .team-img .team-social {
        right: 0;
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 991px) {
    .team-area-v2 .team-item:hover .team-img .team-social {
        right: 0;
        visibility: visible;
        opacity: 1;
    }
}

.team-area-v2 .team-item .team-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden;
}

.team-area-v2 .team-item .team-img img {
    width: 100%;
}

.team-area-v2 .team-item .team-img .team-social {
    background-color: #070346;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-area-v2 .team-item .team-img .team-social {
        position: absolute;
        bottom: 0;
        right: -100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }
}

@media (max-width: 991px) {
    .team-area-v2 .team-item .team-img .team-social {
        position: absolute;
        bottom: 0;
        right: -100%;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }
}

.team-area-v2 .team-item .team-img .team-social ul.social-link li {
    display: block;
}

.team-area-v2 .team-item .team-img .team-social ul.social-link li a {
    border-radius: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fff;
}

.team-area-v2 .team-item .team-img .team-social ul.social-link li a:hover {
    background-color: var(--color-orange-200);
}

.team-area-v2 .team-item .team-info {
    padding: 30px 40px;
    background-color: #070346;
    margin-left: 86px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .team-area-v2 .team-item .team-info {
        margin-left: 55px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-area-v2 .team-item .team-info {
        margin-left: 0px;
    }
}

@media (max-width: 991px) {
    .team-area-v2 .team-item .team-info {
        margin-left: 0px;
    }
}

.team-area-v2 .team-item .team-info span.position {
    color: var(--color-orange-200);
    font-size: 14px;
    font-weight: 700;
}

.team-area-v2 .team-item .team-info h4 {
    color: #fff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .team-area-v3 .col-lg-3 {
        width: 33.33%;
    }
}
.shrink{
    overflow-y: hidden;
}

@media (max-width: 577px) {
    .shrink {
        zoom: 90%;
        min-width: 300px;
        overflow-y: hidden;
    }

    .sec-2E {
        display: flow-root;
    }

    #reading {
        display: none;
    }

    .container {
        min-width: 300px;
    }

    .sec-2H2 {
        font-size: 30px;
        text-align: center;
    }

    .sec-2CT {
        padding-top: 0rem !important;
        text-align: center;
    }

    #head-div {
        padding: 0;
    }

    #head {
        font-weight: 800;
        font-size: 32px;
        color: #FFFFFF;
    }

    .m-lg-1 {
        display: none;
    }

    #dobson {
        width: 80%;
    }

    .team-img {
        width: 80%;
    }

    .kb-search-content-card-head {
        /*width: 10%;*/
    }

    #knowledge-base-content {
        margin-left: 0;
    }

    .hero-bg2 {
        height: 100%;
    }

    .sec-2CP {
        font-size: 15px;
        padding-bottom: 30px;
    }

    .sec-2CH {
        font-size: 17px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

    .spotcustomer {
        display: none;
    }
    #centech, #NEXT, #Dobson, #dobson, #Engine{
        position: relative;
    }

}

@media (min-width: 577.1px) {
    #head-div {
        padding: 200px 0 220px;
    }

    #head {
        font-weight: 800;
        font-size: 64px;
        color: #FFFFFF;
    }

    #knowledge-base-content {
        margin-left: 10%;
        max-width: 1130px;
    }
}

.team-area-v3 .team-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.team-area-v3 .team-item:hover .team-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.team-area-v3 .team-item:hover .team-img .team-overlay {
    height: 100%;
}

.team-area-v3 .team-item:hover .team-img .team-overlay .team-overly-content {
    visibility: hidden;
    opacity: 0;
}

.team-area-v3 .team-item:hover .team-img .team-overlay .team-info {
    opacity: 1;
    visibility: visible;
}

.team-area-v3 .team-item .team-img {
    position: relative;
    overflow: hidden;
}

.team-area-v3 .team-item .team-img img {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
}

.team-area-v3 .team-item .team-img .team-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: -webkit-gradient(linear, left bottom, left top, from(#fd6151), to(rgba(255, 119, 74, 0)));
    background: linear-gradient(0deg, #fd6151 0%, rgba(255, 119, 74, 0) 100%);
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-area-v3 .team-item .team-img .team-overlay .team-overly-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 30px 15px;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-area-v3 .team-item .team-img .team-overlay .team-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.team-area-v3 .team-item .team-img .team-overlay .team-info ul.social-link li {
    margin-right: 10px;
}

.team-area-v3 .team-item .team-img .team-overlay .team-info ul.social-link li a {
    color: #fff;
}

.team-area-v3 .team-item .team-img .team-overlay h4 {
    color: #fff;
}

.team-area-v3 .team-item .team-img .team-overlay span.position {
    display: block;
    color: #fff;
    margin-bottom: 15px;
}

